<!DOCTYPE html>
<html lang="en-us">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Page Title</title>
</head>

<body>
    Hello, Welcome to the Feedback Form.
	<br>
	<a href="/users/new">Click here for the Feedback form</a>
</body>

</html>